@keyframes brun{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.navbar-inverse{
    background-color: #985f0d;
    animation: brun;
    animation-duration: 1s;
}
.navbar-inverse .navbar-nav > li > a {
    color: black;
    animation: brun;
    animation-duration: 1s;
    text-shadow: none;
}