.navbar-inverse{
    background-color: #2d6324;
    animation: vert;
    animation-duration: 1s;
}
.navbar-inverse .navbar-nav > li > a {
    color: black;
    animation: vert;
    animation-duration: 1s;
    text-shadow: none;
}

@keyframes vert{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}