.navbar-inverse{
    background-color: #2a6496;
    animation: bleu;
    animation-duration:3s;
}
.navbar-inverse .navbar-nav > li > a {
    color: white;
    animation: bleu;
    animation-duration: 1s;
    text-shadow: none;
}
@keyframes bleu{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}